<head>
    <link rel="stylesheet" href="/css/login.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.1/purify.min.js"></script>
    <script type="text/javascript" defer src="/js/login-page-script.js"></script>
</head>

<div class="login-page-container">
    <div class="card-display-container">
        <div class="image-container"></div>
        <div class="login-form-container">
            <h2>Welcome back!</h2>
            <form action="/login" method="post">
                <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                <div class="login-form-group">
                    <label for="username">Username</label>
                    <div class="tooltip-icon" data-tooltip="Default: admin"></div>
                    <input type="text" name="username" placeholder="Enter username" id="username-input"
                           required data-parsley-pattern="^[a-zA-Z0-9_-]{3,16}$"
                           data-parsley-error-message="Please enter a valid username (3-16 characters, letters, numbers, dashes, or underscores)">
                </div>
                <div class="login-form-group">
                    <label for="password">Password</label>
                    <div class="tooltip-icon" data-tooltip="Default: test1234"></div>
                    <div class="password-input-div">
                        <input type="password" name="password" placeholder="Enter password" id="password-input" required>
                        <div id="show-password-icon" class="show-password-icon"></div>
                    </div>
                    <p class="error-message" id="password-error"></p>
                </div>
                <button type="submit" id="login-button">Login</button>
            </form>
            <hr>
            <p>Or</p>
            <form action="/verify-invitation-code" method="post">
                <button type="submit">Signup with Invitation Code</button>
                <div class="login-form-group">
                    <div id="invitation-code-inputs">
                        <input type="text" maxlength="1" size="1" name="invitation-code-1" placeholder="-">
                        <input type="text" maxlength="1" size="1" name="invitation-code-2" placeholder="-">
                        <input type="text" maxlength="1" size="1" name="invitation-code-3" placeholder="-">
                        <input type="text" maxlength="1" size="1" name="invitation-code-4" placeholder="-">
                    </div>
                    <div class="tooltip-icon" data-tooltip="Default: 1234"></div>
                    <p class="error-message" id="invitation-inputs-error">Must be a 4-digit code.</p>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="notification" id="login-notification">
    <span></span>
    <button>&times;</button>
</div>
