<head>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<div class="login-page-container">
    <div class="card-display-container">
        <div class="image-container"></div>
        <div class="login-form-container">
            <h2>Welcome!</h2>
            <form action="/signup" method="post">
                <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                <div class="login-form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="Enter username">
                    <p class="error-message" id="username-error">Please enter a username.</p>
                </div>
                <div class="login-form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Enter password">
                    <p class="error-message" id="password-error">Please enter a password.</p>
                </div>
                <div class="login-form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="confirm-password" placeholder="Retype password">
                    <p class="error-message" id="confirm-password-error">Passwords do not match.</p>
                </div>
                <button type="submit" id="signup-button">Sign Up</button>
            </form>

            <hr>

            <p>Already have an accout?</p>
            <form action="/login" method="get">
                <button type="submit">Login to an Existing Account</button>
            </form>
        </div>
    </div>
</div>
