<head>
    <script type="text/javascript" defer src="/js/dashboard-script.js"></script>
</head>

<header class="dashboard-header">
    <div class="dashboard-title">
        <h1>Blog Dashboard</h1>
    </div>
    <nav class="dashboard-nav">
        <ul>
            <li><a href="#created-post-section" class="tab-link current-tab">Current Posts</a></li>
            <li><a href="#deleted-post-section" class="tab-link">Deleted Posts</a></li>
            <li><a href="#invitation-code-section" class="tab-link">Invitation Code</a></li>
            <li><a href="/add-post">Add New Post</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>

<div class="dashboard-main">
    <!-- ACTIVE POSTS` SECTION -->
    <section class="dashboard-section active" id="created-post-section">
        <%- include('dashboard-sections/active-posts.ejs') %>
    </section>

    <!-- DELETED POSTS SECTION -->
    <section class="dashboard-section"  id="deleted-post-section">
        <%- include('dashboard-sections/deleted-posts.ejs') %>
    </section>

    <!-- INVITATION CODE SECTION -->
    <section class="dashboard-section"  id="invitation-code-section">
        <div class="dashboard-title">
            <h2>Manage Invitation Code</h2>
        </div>
        <div class="dashboard-content">

        </div>
    </section>
</div>
