<head>
    <script type="text/javascript" defer src="/js/dashboard-script.js"></script>
</head>

<header class="dashboard-header">
    <div class="dashboard-title">
        <h1>Blog Dashboard</h1>
    </div>
    <nav class="dashboard-nav">
        <ul>
            <li><a href="#created-post-section" class="tab-link current-tab">Current Posts</a></li>
            <li><a href="#deleted-post-section" class="tab-link">Deleted Posts</a></li>
            <li><a href="#invitation-code-section" class="tab-link">Invitation Code</a></li>
            <li><a href="/add-post">Add New Post</a></li>
            <li><a id="nav-logout">Logout</a></li>
        </ul>
    </nav>
</header>

<div class="dashboard-main">
    <!-- ACTIVE POSTS` SECTION -->
    <section class="dashboard-section active" id="created-post-section">
        <%- include('dashboard-sections/active-posts.ejs') %>
    </section>

    <!-- DELETED POSTS SECTION -->
    <section class="dashboard-section"  id="deleted-post-section">
        <%- include('dashboard-sections/deleted-posts.ejs') %>
    </section>

    <!-- INVITATION CODES SECTION -->
    <section class="dashboard-section"  id="invitation-code-section">
        <%- include('dashboard-sections/invitation-codes.ejs') %>
    </section>
</div>

<div class="overlay" id="logout-overlay">
    <div class="panel">
        <button class="overlay-close">✖</button>
        <h2>Confirm Logout</h2>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
            <p class="error-message" id="logout-error"></p>
            <div class="form-group center-content">
                <button id="cancel-logout">Cancel</button>
                <button type="submit" id="confirm-logout">Logout</button>
            </div>
        </form>
    </div>
</div>
