<header class="header">
    <a href="/dashboard" class="header__logo">R•A•Y - Admin</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">HOME</a>
            </li>
            <li>
                <a href="/about" class="">ABOUT</a>
            </li>
            <li>
                <a href="/contact" class="">CONTACT</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button>
            Logout
        </button>
    </div>
</header>
