<header class="header">
    <a href="/admin" class="header__logo">R•A•Y</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="<%= getRouteClass("/", currRoute) %>">HOME</a>
            </li>
            <li>
                <a href="/about" class="<%= getRouteClass("/about", currRoute) %>">ABOUT</a>
            </li>
            <li>
                <a href="/contact" class="<%= getRouteClass("/contact", currRoute) %>">CONTACT</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button type="searchBtn" aria-expanded=false>
            Search
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                <path fill="none" d="M0 0h24v24H0V0z"/>
                <path d="M13.5 11h-.79l-.28-.27C13.41 9.59 14 8.11 14 6.5 14 2.91 11.09 0 7.5 0S1 2.91 1 6.5 3.91 13 7.5 13c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l4 3.99L18.49 16l-4.99-5zm-6 0C6.01 11 4 8.99 4 6.5S6.01 2 8.5 2 13 4.01 13 6.5 10.99 11 8.5 11z"/>
            </svg>
        </button>
    </div>
</header>
