<head>
    <link rel="stylesheet" href="/css/login.css">
</head>

<div class="login-page-container">
    <div class="card-display-container">
        <div class="image-container"></div>
        <div class="login-form-container">
            <h2>Sign In</h2>
            <form action="/login" method="post">
                <div class="login-form-group">
                    <label for="username">Username</label>
                    <div class="tooltip-icon" data-tooltip="Default: admin"></div>
                    <input type="text" name="username" placeholder="Enter username" id="username-input">
                    <p class="error-message" id="username-error">Please enter a username.</p>
                </div>
                <div class="login-form-group">
                    <label for="password">Password</label>
                    <div class="tooltip-icon" data-tooltip="Default: test1234"></div>
                    <div class="password-input-div">
                        <input type="password" name="password" placeholder="Enter password" id="password-input">
                        <div id="show-password-icon" class="show-password-icon"></div>
                        <p class="error-message" id="password-error">Please enter a password.</p>
                    </div>
                </div>
                <button type="submit" id="login-button">Login</button>
            </form>
            <hr>
            <p>Or</p>
            <form action="/signup" method="post">
                <button type="submit">Signup with Invitation Code</button>
                <div class="login-form-group">
                    <div id="invitation-code-inputs">
                        <input type="text" maxlength="1" size="1" name="invitation-code-1" placeholder="-">
                        <input type="text" maxlength="1" size="1" name="invitation-code-2" placeholder="-">
                        <input type="text" maxlength="1" size="1" name="invitation-code-3" placeholder="-">
                        <input type="text" maxlength="1" size="1" name="invitation-code-4" placeholder="-">
                    </div>
                    <div class="tooltip-icon" data-tooltip="Default: 1234"></div>
                    <p class="error-message" id="invitation-inputs-error">Must be a 4-digit code.</p>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <h3>Register</h3>

<form action="/register" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" placeholder="Enter username">

    <label for="password"><b>Password</b></label>
    <input type="text" name="password" placeholder="Enter password">

    <input type="submit" value="Register">
</form> -->
