<head>
    <link rel="stylesheet" href="/css/login.css">
</head>

<div class="login-page-container">
    <div class="login-form-container">
        <form action="/login" method="post">
            <h3>Sign In</h3>
            <label for="username"><b>Username</b></label>
            <input type="text" name="username" placeholder="Enter username">

            <label for="password"><b>Password</b></label>
            <div class="password-input-div">
                <input type="password" name="password" placeholder="Enter password" id="password-input">
                <div id="show-password-icon" class="show-password-icon"></div>
            </div>

            <input type="submit" value="Login">
        </form>
    </div>
</div>

<!-- <h3>Register</h3>

<form action="/register" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" placeholder="Enter username">

    <label for="password"><b>Password</b></label>
    <input type="text" name="password" placeholder="Enter password">

    <input type="submit" value="Register">
</form> -->
