/* Dashboard Admin */
.admin__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin__posts {
  padding: 0;
  margin: 0;
}

.admin__post__controls form {
  display: inline-block;
}

.admin__post__controls .btn  {
  display: inline-block;
  background-color: var(--black);
  color: var(--gray-light);
  border: 0;
  text-decoration: none;
  font-size: .8rem;
  padding: 4px 8px;
  line-height: 2;
}

.admin__posts__ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
