<head>
    <script type="text/javascript" defer src="/js/dashboard/invitation-code-script.js"></script>
</head>

<div class="dashboard-title">
    <h2>Manage Invitation Code</h2>
</div>

<div class="dashboard-tools-panel">
    <button type="bnt" id="generate-invitation-code-btn">Generate Code</button>
</div>

<div class="dashboard-content">
    <ul class="dashboard-post-ul">
        <% if (codeCnt == 0) { %>
            <span>No invitation code available.</span>
        <% } %>
        <% codes.forEach(codeEntry => { %>

            <li>
                <a href="">
                    <span><%= codeEntry.code %></span>
                    <span class="article-date"><%= codeEntry.validFrom.toDateString() %></span>
                    <span class="article-date"><%= codeEntry.validUntil.toDateString() %></span>
                </a>

                <div class="dashboard-post-controls">
                    <form class="" action="delete-code/<%= codeEntry._id %>?_method=DELETE" method="post">
                        <input type="submit" value="Delete" class="btn btn-delete">
                    </form>
                </div>
            </li>

        <% }) %>
    </ul>
</div>

<div id="overlay" class="overlay">
    <div class="panel">
        <h2>Generate Invitation Code</h2>
        <button id="close-btn">Close</button>
        <form action="/add-invitation-code" method="post">
            <div id="invitation-code-outputs">
                <input type="text" maxlength="1" size="1" name="invitation-code-1" placeholder="-">
                <input type="text" maxlength="1" size="1" name="invitation-code-2" placeholder="-">
                <input type="text" maxlength="1" size="1" name="invitation-code-3" placeholder="-">
                <input type="text" maxlength="1" size="1" name="invitation-code-4" placeholder="-">
            </div>
            <p class="error-message" id="invitation-outputs-error"></p>
            <button type="submit" name="addCodeBtn" value="Add Code">Add Code</button>
        </form>
    </div>
</div>

<div class="notification" id="delete-code-notification">
    <span id="delete-code-message">delete code successful</span>
    <button id="delete-code-message-close">&times;</button>
</div>
